
* {
  box-sizing: border-box;
  margin: 0;
  /* font-family: "Roboto", sans-serif; */
}

a {
  color: '#2196f3';
}

:root {
  font-family: "Roboto", sans-serif;
}

.outlet {
  padding: 5px;
}

body {
  /* background-color: #fdfdfd; */
  min-height: 100vh;
  background: rgb(240, 255, 246);
  background:linear-gradient(to bottom right, #c9dcf0, #e4fbd2 );
/* background: linear-gradient(270deg, rgb(198, 253, 219) 0%, rgb(202, 238, 255) 100%); */
}

.current-waypoint-card {
  background-color: 'rgba(255, 255, 255, .9)';
  /* background:linear-gradient(to bottom right, transparent, #c9dcf0 ); */
}

.waypoint-card {
  margin: 0 auto;
  max-width: 800px;
  background-color: 'rgba(255, 255, 255, .9)';
  /* background:linear-gradient(to bottom right, #fafdffe7, #bbe2f9 ); */
}

#delete-image {
  color: #e5e1e1;
}

.map-container {
  height: 400px;
}

.modal-button-row {
  display: flex;
  justify-content: space-between;
}

.log-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image:linear-gradient(to bottom right, #c9dcf0, #e4fbd2 );
}

.log {
  text-align: center;
}

.camera-container {
  max-width: 500px;
  min-width: 300px;
  padding: 1em;
}

@media only screen and (min-width: 516px) {
  .camera-container {
    min-width: 500px;
  }
}

.image-list {
  max-width: 500px;
  justify-content: center;
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .image-list {
    min-width: 300px;
  }
}

.image-container {
  position: relative;
  width: 100%;
  padding: 1em;
}

.image-container img {
  width: 100%;
  height: auto;

}

.image-container .delete-button{
  position: absolute;
  width: '10px';
  height: '10px';
  min-width: 0;
  opacity: 0.90;
	top: 15%;
	left: 88%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#reviews {
  margin: 0 auto;
  margin-top: 2em;
  max-width: 800px;
}


.map-buttons {
  width: 100%;
  height: 100px;
  display: block;
}

.map-details {
  flex-grow: 1;
}

.show-tours {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.chat-header {
  position: sticky;
  top: 20px;
  bottom: 10px;
  height: 75px;
  display: table-cell;
  vertical-align: bottom;
}

@media screen and (min-width: 800px) {
  .chat-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.message-container {
  line-height: 0;
}

.map-image-card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center;
}

.drawer-box {
  height: 100vh;
  background-image:linear-gradient(to bottom right, #e4fbd2 , #c9dcf0 );
}

.chat-con {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-container {
  display: block;
  background-color: aliceblue;
}

.chat-buttons {
  text-align: right;
  color: primary;
  font-size: 200%;
}

.chat-room-con {
  background-color: aliceblue;
}

.chat-icon {
  font-size: 30px !important;
}